*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  margin: 5px;
}

article{
  border: 1px solid black;
  width: 50%;
  min-width: 300px;
  margin: 10px auto;
  & div{
    display: flex;
    justify-content: space-between;
    & aside{
      cursor: pointer;
     
    }
  }
}